{{- $sokoshellCSS := resources.Get (printf "apps/sokoban/sokoshell.css" | safeURL)
| resources.Fingerprint "md5" -}}
<link href="{{- $sokoshellCSS.Permalink -}}" rel="stylesheet" integrity="{{
$sokoshellCSS.Data.Integrity }}" />
<div class="emscripten" id="status">Downloading...</div>
<div class="emscripten">
  <progress hidden id="progress" max="100" value="0"></progress>
</div>
<div id="winStatus" style="display:none">
  <center>
    <h3>You Won!</h3>
    <h4>Refresh in order to play another puzzle!</h4>
  </center>
</div>
<div class="grid">
  <div class="grid-item">
    <center>
      <h3>Game</h3>
      <canvas
        class="emscripten"
        id="canvas"
        oncontextmenu="event.preventDefault()"
        tabindex="-1"
      ></canvas>
    </center>
  </div>
  <div class="grid-item">
    <center>
      <h3>Current Layout</h3>
      <textarea
        class="mapView"
        cols="25"
        id="mapView"
        onfocus="focusMap()"
        onfocusout="focusMap()"
        oninput="changeMap(this)"
		style="height: 256px; width: 256px;"
        rows="12"
      >
				Map should be loaded here...</textarea
      >
    </center>
  </div>
</div>
<br />
{{- $sokoshellJS := resources.Get (printf "apps/sokoban/sokoshell.js" | safeURL)
|resources.Fingerprint "md5" -}}
<script src="{{- $sokoshellJS.Permalink -}}" integrity="{{
			 $sokoshellJS.Data.Integrity }}"></script>
